[Unit]
Description=0dB service for NVIDIA

[Service]
Type=simple
ExecStart=/usr/bin/nvidia-zerodb
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
